doctype html
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
html.no-ie(lang="en")
  <!--<![endif]-->
  head

    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')

    title 47Admin - Bootstrap Admin Skin

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    <!--[if lt IE 9]>
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

    // Bootstrap CSS
    link(rel='stylesheet', href='../app/css/bootstrap.css')
    // Vendor CSS
    link(rel='stylesheet', href='../vendor/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../vendor/animo/animate+animo.css')

    // App CSS
    link(rel='stylesheet', href='../app/css/app.css')

    // Modernizr JS Script
    script(src='../vendor/modernizr/modernizr.js', type='application/javascript')
    // FastClick for mobiles
    script(src='../vendor/fastclick/fastclick.js', type='application/javascript')

    block head
        //- Use this block to add custom assets for pages

  body

    // START wrapper
    block content
    // END wrapper
    
    // START Scripts
    
    // Main vendor Scripts
    script(src='../vendor/jquery/jquery.min.js')
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    // Animo
    script(src='../vendor/animo/animo.min.js')

    // Custom script for pages
    script(src='../app/js/pages.js')

    // END Scripts