//- Extends the page layout
extends ../layout/page-layout

block content

  .row.row-table(style="height: 100%; padding: 20px 0; background-color: #2c3037")
    .col-lg-3.col-md-6.col-sm-8.col-xs-12.align-middle
      .panel.b0(data-toggle="play-animation",data-play="fadeInDown",data-offset="0")
        p.text-center.mb-lg
          br
          a(href="#")
            img.block-center.img-rounded(src='../app/img/logo3.png', alt='Image')
        #accordion.panel-group(data-toggle="collapse-autoactive")
          // START panel
          .panel.radius-clear.b0.shadow-clear
            .panel-heading.radius-clear.panel-heading-active
              a.text-muted.btn-block.text-center(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') SIGN IN TO CONTINUE.
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                form(role='form').mb-lg
                  .form-group.has-feedback
                    label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                    span.fa.fa-envelope.form-control-feedback.text-muted
                  .form-group.has-feedback
                    label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                    span.fa.fa-lock.form-control-feedback.text-muted
                  .clearfix
                    .checkbox.c-checkbox.pull-left.mt0
                      label
                        input(type='checkbox', value='')
                        span.fa.fa-check
                        |  Remember Me
                  button.btn.btn-block.btn-primary(type='submit') Login
          // END panel

          // START panel
          .panel.radius-clear.b0.shadow-clear
            .panel-heading.radius-clear
              a.text-muted.btn-block.text-center(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') Need to Signup?
            #collapseTwo.panel-collapse.collapse
              .panel-body
                form(role='form').mb-lg
                  .form-group.has-feedback
                    label(for='signupInputEmail1') Email address
                    input#signupInputEmail1.form-control(type='email', placeholder='Enter email')
                    span.fa.fa-envelope.form-control-feedback.text-muted
                  .form-group.has-feedback
                    label(for='signupInputPassword1') Password
                    input#signupInputPassword1.form-control(type='password', placeholder='Password')
                    span.fa.fa-lock.form-control-feedback.text-muted
                  .form-group.has-feedback
                    label(for='signupInputRePassword1') ReType Password
                    input#signupInputRePassword1.form-control(type='password', placeholder='ReType Password')
                    span.fa.fa-lock.form-control-feedback.text-muted
                  .clearfix
                    .checkbox.c-checkbox.pull-left.mt0
                      label
                        input(type='checkbox', value='')
                        span.fa.fa-check
                        |  I agree with the 
                        a(href="#") terms
                  button.btn.btn-block.btn-primary(type='submit') Register                
          // END panel


          // START panel
          .panel.radius-clear.b0.shadow-clear
            .panel-heading.radius-clear
              a.text-muted.btn-block.text-center(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') Forgot your password?
            #collapseThree.panel-collapse.collapse
              .panel-body
                form(role='form')
                  p.text-center Fill with your mail to receive instructions on how to reset your password.
                  .form-group.has-feedback
                    label(for='resetInputEmail1') Email address
                    input#resetInputEmail1.form-control(type='email', placeholder='Enter email')
                    span.fa.fa-envelope.form-control-feedback.text-muted
                  button.btn.btn-danger.btn-block(type='submit') Reset
          // END panel
